<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gfx performance tests</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!--
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    -->
    <script src="vue.js"></script>
    <script src="socket.io.js"></script>
  </head>
  <style>
    body {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
/*
    tr.pass td {
      background-color: #90EE90;
    }
*/
    tr.fail td {
      background-color: #f55;
    }

    td {
      padding: 10px;
      background-color: #f3f3f3;
    }
    
    .average-results td {
      background-color: #AAA;
    }
  </style>
  <body>
    <div id="app">
      <div>
        <h2>System information</h2>
        <h3>Native environment</h3>
        <h3>Browser environment</h3>
        <button v-on:click="showInfo = !showInfo">Toggle visibility</button><br/><br/>
        <b>Common features</b>
        <pre v-show="showInfo">{{getBrowserInfo()}}</pre>
        <hr>
        <b>WebGL support</b>
        <pre v-show="showInfo">{{webglInfo ? JSON.stringify(webglInfo, null, 4) : 'Checking browser features...'}}</pre>
      </div>
      <h2>Tests</h2>
      <table>
        <thead>
          <th></th>
          <th>ID</th>
          <th>Name</th>
          <th>Engine</th>
          <th>Test</th>
          <th>Launch</th>
        </thead>
          <tr v-for="test in tests">
            <td><input type="checkbox" v-model="test.selected"></td>
            <td>{{test.id}}</td>
            <td>{{test.name}}</td>
            <td>{{test.engine}}</td>
            <td><button v-on:click="runTest(test,false)">test</button></td>
            <td><button v-on:click="runTest(test,true)">launch</button></td>
            <td><button v-on:click="runTest(test, false, true)">record</button></td>
          </tr>
        <tbody>
        </tbody>
      </table>
      <button v-on:click="runSelectedTests()" id='runTests'>Run tests</button>
      {{tests.filter(x => x.selected).length}} selected.

      <h3>Options</h3>
      <ul>
        <li>num.times: <input type="text" v-model="options.general.numTimesToRunEachTest"></li>
        <li><label><input type="checkbox" v-model="options.tests.fakeWebGL"> fake webgl</label></li>
        <li><label><input type="checkbox" v-model="options.tests.noCloseOnFail"> no close on fail</label></li>
        <li>show input: <label><input type="checkbox" v-model="options.tests.showKeys"> keystrokes</label> <label><input type="checkbox" v-model="options.tests.showMouse"> mouse</label></li>
      </ul>
      <br>

      <h2>Results log</h2>
      <button v-on:click="show_json = !show_json">Show JSON</button>
      <table>
        <thead>
          <th>Test ID</th>
          <th>Options</th>
          <th>Result</th>
          <th>Total time</th>
          <th>First frame</th>
          <th>FPS</th>
          <th>CPU Time</th>
          <th>CPU Idle</th>
          <th># janked frames</th>
          <th v-show="show_json">JSON</th>
        </thead>
        <tbody>
          <tr v-for="result in results"  v-bind:class="{'fail': result.result === 'fail', 'pass': result.result === 'pass'}">
            <td>{{result.test_id}}</td>
            <td>{{result.options}}</td>
            <td>{{result.result}}</td>
            <td>{{formatNumeric(result.totalTime)}}</td>
            <td>{{formatNumeric(result.timeToFirstFrame)}}</td>
            <td>{{formatNumeric(result.avgFps)}}</td>
            <td>{{formatNumeric(result.cpuTime)}}</td>
            <td>{{formatNumeric(result.cpuIdlePerc)}}</td>
            <td>{{result.numStutterEvents}}</td>
            <td v-show="show_json"><pre>{{result.json}}</pre></td>
          </tr>
          <tr class="average-results" v-for="result in resultsAverage">
            <td>{{result.test_id}}</td>
            <td></td>
            <td>{{formatNumeric(result.totalTime)}}</td>
            <td>{{formatNumeric(result.timeToFirstFrame)}}</td>
            <td>{{formatNumeric(result.avgFps)}}</td>
            <td>{{formatNumeric(result.cpuTime)}}</td>
            <td>{{formatNumeric(result.cpuIdlePerc)}}</td>
            <td>{{formatNumeric(result.numStutterEvents)}}</td>
            <td v-show="show_json"><pre>{{result.json}}</pre></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--<script src="index.js" async defer></script>-->
    <script src="app.bundle.js" async defer></script>
  </body>
</html>